.listMusics:hover{
    overflow-y: scroll;
}
.music{
    margin: 10px 2px;

    align-items: center;

}
.music>p{
    font-size: 1.5rem;
    margin: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
#left-panel{
    width: 96px;
    padding-left: 4px;
    height: 100%;
    right: 0;
    background-color: #f0f0ff;}
#left-panel::after{
    content: '';
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}