.listMusics {
    overflow-y: scroll;
}

.music {
    margin: 10px 2px;
    align-items: center;

}


.selected {
    background-color: #000;
}

#resize-leftBar {
    position: absolute;
    right: 0;
    transform: translateX(10%);
    bottom: 5%;
    color: #dddbdb;

}

#left-bar-friend {
    overflow: hidden;
}

#left-bar-friend:hover {
    overflow-y: scroll;
}